{% extends "base.html" %}
{% block content %}
<div class="hero-wrap">
    <div class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(static/images/bg_1.jpg);">
          <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
              <div class="col-md-12 ftco-animate">
                  <div class="text w-100 text-center">
                      <h2>Мы здесь, чтобы помочь вам</h2>
                    <h1 class="mb-3">Подбор комплектующих</h1>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url(static/images/bg_2.jpg);">
          <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
              <div class="col-md-12 ftco-animate">
                  <div class="text w-100 text-center">
                      <h2>Лучший подбор комплектующих</h2>
                    <h1 class="mb-3">Мы подбираем комплектующие</h1>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url(static/images/bg_3.jpg);">
          <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
              <div class="col-md-12 ftco-animate">
                  <div class="text w-100 text-center">
                      <h2>Мы подберем вам комплектующие</h2>
                    <h1 class="mb-3">Профессиональный подбор комплектующих</h1>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="title">
        <h2 class="mb-3">Почему вам нужна наша помощь?</h2>
        <p>
          Мы помогаем подобрать комплектующие с учетом их совместимости. Наш алгоритм поможет вам сделать это максимально эффективно.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}