{% extends "base.html" %}
{% block content %}
<div class="hero-wrap">
	<div class="home-slider owl-carousel">
	  <div class="slider-item" style="background-image:url(static/images/bg_1.jpg);">
		  <div class="overlay"></div>
		<div class="container">
		  <div class="row no-gutters slider-text align-items-center justify-content-center">
			  <div class="col-md-12 ftco-animate">
				  <div class="text w-100 text-center">
					  <h2>Мы здесь, чтобы помочь вам</h2>
					<h1 class="mb-3">Подбор комплектующих</h1>
				</div>
			  </div>
			</div>
		</div>
	  </div>

	  <div class="slider-item" style="background-image:url(static/images/bg_2.jpg);">
		  <div class="overlay"></div>
		<div class="container">
		  <div class="row no-gutters slider-text align-items-center justify-content-center">
			  <div class="col-md-12 ftco-animate">
				  <div class="text w-100 text-center">
					  <h2>Лучший подбор комплектующих</h2>
					<h1 class="mb-3">Мы подбираем комплектующие</h1>
				</div>
			  </div>
			</div>
		</div>
	  </div>

	  <div class="slider-item" style="background-image:url(static/images/bg_3.jpg);">
		  <div class="overlay"></div>
		<div class="container">
		  <div class="row no-gutters slider-text align-items-center justify-content-center">
			  <div class="col-md-12 ftco-animate">
				  <div class="text w-100 text-center">
					  <h2>Мы подберем вам комплектующие</h2>
					<h1 class="mb-3">Профессиональный подбор комплектующих</h1>
				</div>
			  </div>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <section class="ftco-section ftco-no-pb ftco-no-pt mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="bg-primary w-100 rounded px-md-0 px-4">
				  <div class="row d-flex justify-content-center">
					  <div class="col-lg-8 py-4">
						  <div class="row">
							<div class="col-md-6 d-flex align-items-center">
							  <h2 class="mb-0" style="color:white; font-size: 24px;">Укажите желаемую стоимость сборки</h2>
							</div>
							<div class="col-md-6 d-flex align-items-center">
							  <form action="#" class="subscribe-form">
								<div class="form-group d-flex">
								  <input type="text" class="form-control" placeholder="75000">
								  <input type="submit" value="Искать" class="submit px-3">
								</div>
							  </form>
							</div>
						</div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
	</div>
  </section>
{% endblock content %}